<div class="planner">
  <div class="planner__week">
    <p>Monday</p>
    <p>Tuesday</p>
    <p>Wednesday</p>
    <p>Thursday</p>
    <p>Friday</p>
  </div>
  <div class="planner__time">
    <p>8:00</p>
    <p>9:00</p>
    <p>10:00</p>
    <p>11:00</p>
    <p>12:00</p>
    <p>13:00</p>
    <p>14:00</p>
    <p>15:00</p>
    <p>16:00</p>
    <p>17:00</p>
    <p>18:00</p>
    <p>19:00</p>
  </div>
  <div class="planner__content">
    <div *ngFor="let i of numOfDays">
      <div *ngFor="let j of numOfOurs">
        <div *ngFor="let task of weekTasks">
          <div *ngIf='task.taskDate.getDay()==i && task.startTask.getHours()<=j && task.endTask.getHours()>=j; else elseBlock'>
            <p style="padding: 5px;">
              {{j}} - {{task.startTask.getHours()}} -{{task.endTask.getHours()}}
            </p>
          </div>
          <ng-template #elseBlock>
            <p style="padding: 5px;">
              hehe - {{i}} - {{j}}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>