<div class="planner">
  <div class="planner__week">
    <p>Monday</p>
    <p>Tuesday</p>
    <p>Wednesday</p>
    <p>Thursday</p>
    <p>Friday</p>
  </div>
  <div class="planner__time">
    <p>8:00</p>
    <p>9:00</p>
    <p>10:00</p>
    <p>11:00</p>
    <p>12:00</p>
    <p>13:00</p>
    <p>14:00</p>
    <p>15:00</p>
    <p>16:00</p>
    <p>17:00</p>
    <p>18:00</p>
    <p>19:00</p>
  </div>
  <div class="planner__content">
    <div *ngFor="let i of numOfDays">
      <div *ngFor="let j of numOfOurs" class="planner__grid">
          <div *ngFor="let task of weekTasks;let k = index">
            <div *ngIf='task.taskDate.getDay()==i && task.startTask.getHours()<=j && task.endTask.getHours()>=j' >
                <div *ngIf='task.taskDate.getDay()==i && task.startTask.getHours()<=j+1 && task.endTask.getHours()>=j+1;else elseBlock'>
                  <div class="planner__content-cell" [ngStyle]="{ 'background-color':colorArray[k]}" style="height: 80px;">
                    <div *ngIf='task.startTask.getHours()==j'>
                      {{task.title}}
                      {{task.taskId}}
                    </div>
                    <div *ngIf='task.endTask.getHours()==j'>
                      {{task.description}}
                    </div>
                  </div>
                </div>
                <ng-template #elseBlock>
                   <div class="planner__content-cell" [ngStyle]="{ 'background-color':colorArray[k]}">
                    <div *ngIf='task.endTask.getHours()==j'>
                      {{task.description}}
                    </div>
                  </div>
                </ng-template>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

