@import '../../../scss/main';

.planner{
    display: grid;
    grid-template-areas: "week week" "time content";
    width:100%;
    grid-template-columns: 100px;
    grid-template-rows: 40px;
    margin-bottom: 60px;
    &__week{
        padding-left:80px;
        padding-bottom: 50px;
        grid-area: week;
        display: grid;
        font-size: 1.2rem;
        background-color:$third-color;
        color: white;
        grid-template-columns: repeat(5, 1fr);
        font-weight: 700;
        text-align: center;
    }
    &__time{
        margin-left: 20px;
        grid-area: time;
        display: grid;
        font-weight: 400;
        font-size: 1.2rem;
        grid-template-rows: repeat(12, 40px);
        color:$third-color;
    }
    &__content{
        grid-area: content;
        display: grid;
        grid-template-rows: repeat(12, 40px);
        grid-template-columns: repeat(5, 1fr);
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        padding-top:10px;
    }
}