<div class="containersinginup">
	<div class="containersinginup__form containersinginup__login">
		<form action="#">
			<div class="containersinginup__form-header" >Sign in</div>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook-square"></i></a>
				<a href="#" class="social"><i class="fa fa-google-plus-square"></i></a>
				<a href="#" class="social"><i class="fa fa-twitter-square"></i></a>
			</div>
			<span>or use your account</span>
			<input class="containersinginup__form-input" type="email" placeholder="Email" />
			<input class="containersinginup__form-input" type="password" placeholder="Password" />
            <p><a href="#">Forgot your password?</a></p>
			<button>Sign In</button>
            <p><a [routerLink]="['registration']">Don't have account?</a></p>
		</form>
	</div>
</div>
