@import '../../../scss/main';


table {
    width: 100%;
    th{
        background-color: $primary-color;
        color: $secondary-text-color;
    }
}

th.mat-sort-header-sorted {
    color: black;
}
.table__box {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto 0 auto;
    justify-content: center;
    &-deleteBtn{
        width: 30px;
        height: 30px;
        border-radius: 10px;
        color: red;
        font-size: 1.2rem;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding:5px;
    }
}
