@import 'scss/main';
body,html{
    margin:0;
    padding:0;
    overscroll-behavior: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: $secondary-text-color;
    color: $primary-color;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
