<app-modal id="task-info-modal">
    <h2>
      {{modalTask.title}}
    </h2>
    <p>
      {{modalTask.description}}
    </p>
  
    <div> 
      <div *ngIf='modalTask.startTask.getMinutes()<10;else elseBlk'>
        Start time: {{modalTask.startTask.getHours()}} : 0{{modalTask.startTask.getMinutes()}}
      </div>
      <ng-template #elseBlk>
        Start time: {{modalTask.startTask.getHours()}} : {{modalTask.startTask.getMinutes()}}
      </ng-template>
    </div>
  
    <div> 
      <div *ngIf='modalTask.endTask.getMinutes()<10;else elseBlk'>
        End time: {{modalTask.endTask.getHours()}} : 0{{modalTask.endTask.getMinutes()}}
      </div>
      <ng-template #elseBlk>
        End time: {{modalTask.endTask.getHours()}} : {{modalTask.endTask.getMinutes()}}
      </ng-template>
    </div>
    <button (click)="closeModal('task-info-modal');">Close</button>
</app-modal>