<div class="box">
    <div class="box__about box__cell">
        <p>Hello</p>
        <app-create-task></app-create-task>
    </div>
    <div class="box__left box__cell">
        <div class="box__header">
            <div class="box__header-data">
                {{initialCount}}
                <p>{{clock}}</p>
            </div>
        </div>
        <div class="box__workspace">
            <div class="planner">
                <div class="planner__week">
                 <p>Monday</p>
                 <p>Tuesday</p>
                 <p>Wednesday</p>
                 <p>Thursday</p>
                 <p>Friday</p>
                </div>
                <div class="planner__time">
                 <p>8:00</p>
                 <p>9:00</p>
                 <p>10:00</p>
                 <p>11:00</p>
                 <p>12:00</p>
                 <p>13:00</p>
                 <p>14:00</p>
                 <p>15:00</p>
                 <p>16:00</p>
                 <p>17:00</p>
                 <p>18:00</p>
                 <p>19:00</p>
               </div>
               <div class="planner__content">
                    
               </div>
            </div>
        </div>
    </div>
</div>