<div class="containersinginup">
	<div class="containersinginup__form containersinginup__register">
		<form action="#">
			<h1>Create Account</h1>
			<input class="containersinginup__form-input" type="text" placeholder="Name" />
			<input class="containersinginup__form-input" type="email" placeholder="Email" />
			<input class="containersinginup__form-input" type="password" placeholder="Password" />
            <input class="containersinginup__form-input" type="password" placeholder="Repeat password" />
			<button>Sign Up</button>
		</form>
	</div>
</div>

